.container-fluid {
    padding: auto;
}

.image-upload-container {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center;    /* Center items horizontally */
}

.image-upload-card {
    width: 450px;
    height: 470px; /* Set a fixed height for the card */
    padding: 20px;
    background-color: white;
    border: 1px solid #e0e6ed;
    border-radius: 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.image-upload {
    width: 100%;
    height: auto;
    max-height: 360px;
    border: 1px solid black;
    border-radius: 30px;
    object-fit: cover;
    margin-bottom: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25) ;
}

.image-upload-more {
    width: 40%;
    height: auto;
    max-height: 400px;
    border: 1px solid black;
    border-radius: 30px;
    object-fit: cover;
    margin: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25) ;
}

.image-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; /* Position absolute within the card */
    bottom: 20px; /* Distance from the bottom of the card */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Offset left by 50% of its own width */
}

.upload-button-container {
    width: 100%;
    margin-top: 10px; /* Optional: additional spacing above button */
}

.upload-button {
    font-size: 16px;
    border-radius: 5px;
    padding: 8px 16px;
}



.form-container {
    max-width: 515px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    padding: 20px;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.input-field-koi {
    border: 1px solid #848484;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
}

.submit-button {
    border-radius: 8px;
    padding: 10px;
}

@media (max-width: 1268px) {
    .image-upload-container,
    .form-container {
        max-width: 100%;
        margin-bottom: 2rem;
        position: sticky;
    }

    .image-upload-card {
        max-width: 100%;
        padding: 10px;
        border-radius: 10px;
        margin-top: 2rem;
    }

    .upload-button {
        font-size: 14px;
        padding: 8px 12px;
    }

    .submit-button {
        padding: 8px;
    }
}


.form-label-koi {
    font-weight: bold;
    text-align: left;
    display: block;
}

.back-button {
    position: absolute;
    top: 12%;
    left: 3%;
}

.border-danger {
    border-color: rgba(255, 0, 0, 0.39) !important;
    box-shadow: 0 0 6px rgba(255, 0, 0, 0.15), 0 0 6px rgba(255, 0, 0, 0.15); /* Softer glowing effect */
}
