.accordion-button{
    font-weight: bold;
    font-size: 2.2vh;
}
.accordion-body{
    font-size: 2vh;
    text-align: start;
}
/* Đảm bảo chiều cao tối đa cho Accordion để tránh tràn */
.accordion {
    max-height: 70vh; /* Giới hạn chiều cao của Accordion */
    overflow-y: auto; /* Cho phép cuộn dọc khi cần */
    padding-right: 10px; /* Thêm khoảng trống để không cắt nội dung cuộn */
}

