.card {
    border-radius: 40px;
}

.content-header {
    margin-top: -0.75rem;
}

.span-status {
    display: inline !important; /* Hoặc inline */
    padding: 4px 8px;
    border-radius: 4px;
    font-weight: bold;
    color: #fff;
    /* Thêm màu nền tùy theo trạng thái */
}

.status-cancelled {
    background-color: red !important;
    color: white !important;
    font-weight: 600;
    /* font-family: sans-serif; */
    margin-left: 4px;
    padding: 4px;
  }
  
  .status-checked-in {
    background-color: #31b700 !important;
    color: white !important;
    font-weight: 600;
    /* font-family: sans-serif; */
    margin-left: 4px;
    padding: 4px;
    
  }
  
  .status-confirmed {
    background-color: blue !important;
    color: white !important;
    font-weight: 600;
    /* font-family: sans-serif; */
    margin-left: 4px;
    padding: 4px;
  }
  
  .status-done {
    background-color: green !important;
    color: white !important;
    font-weight: 600;
    /* font-family: sans-serif; */
    margin-left: 4px;
    padding: 4px;
    
  }
  
  .status-on-going {
    background-color: orange! important;
    color: white !important;
    font-weight: 600;
    /* font-family: sans-serif; */
    margin-left: 4px;
    padding: 4px;
  
  }
  
  .status-pending {
    background-color: purple  !important;
    color: white !important;
    font-weight: 600;
    /* font-family: sans-serif; */
    margin-left: 4px;
    padding: 4px;
    
  }
  